# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [50]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

# Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Length of List

In [51]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# Remove Specified Item

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# Remove Specified Index

In [58]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

# Clear the List

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

In [30]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# Using a While Loop

In [31]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Looping Using List Comprehension

In [67]:
thislist = ["apple", "banana", "cherry","mango"]
[print(x) for x in thislist]

apple
banana
cherry
mango

[None, None, None, None]

# Sort List Alphanumerically

In [69]:
thislist = [2,3,1,8,2]
thislist.sort()
print(thislist)

[1, 2, 2, 3, 8]

# Sort Descending

In [71]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Customize Sort Function

In [77]:
def myfunc(n):
  return (n - 50)
# [50,0,15,32,-27]  []
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[23, 50, 65, 82, 100]

# Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [36]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

# Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [83]:
thislist = ["apple", "banana", "cherry"]

thislist = ["apple", "banana", "cherry","Mango"]
mylist = thislist
print(mylist)
print (thislist)

['apple', 'banana', 'cherry', 'Mango']
['apple', 'banana', 'cherry', 'Mango']

Another way to make a copy is to use the built-in method list().

In [86]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
thislist = ["apple", "banana", "cherry","Mango"]
print(mylist)
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Mango']

# Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.
One of the easiest ways are by using the + operator.

In [39]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [88]:
list1 = ["a", "b" , "c"]
list2 = [3, 2, 1]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 3, 2, 1]

# Python Sets

In [100]:
myset = {"apple", "banana", "cherry","apple", "banana", "cherry","mango"}
myset.add("Pineapple")
myset

{'Pineapple', 'apple', 'banana', 'cherry', 'mango'}

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate values.
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
Set items are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can remove items and add new items.

In [42]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

# The set() Constructor

In [103]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

set2={"apple", "banana", "cherry"}
set2

{'apple', 'cherry', 'banana'}

{'apple', 'banana', 'cherry'}

# Remove Item

In [107]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

thisset1 = {"apple", "banana", "cherry"}

thisset1.discard("cherry")

print(thisset1)

{'apple', 'cherry'}
{'apple', 'banana'}

# Join Two Sets

In [112]:
set1 = {"a", "b" , "c"}
set2 = {4,1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 4, 'b', 'c'}

In [114]:
set1 = {"a", "b" , "c","d","e","f"}
set2 = {1, 2, 3,4,5,6,7}

set1.update(set2)
print(set1)
set2.update(set1)
set2

{1, 2, 3, 4, 'f', 5, 6, 7, 'c', 'd', 'a', 'b', 'e'}

{1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f'}

# Keep ONLY the Duplicates

The intersection_update() method will keep only the items that are present in both sets.

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

# Python Dictionaries

In [126]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

# Dictionary Items

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Ordered or Unordered?

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

# Duplicates Not Allowed

In [128]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [140]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict["colors"][2])

blue

# The dict() Constructor

In [141]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [143]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
y = thisdict.get("model")
print(y)
keys = thisdict.keys()
print(keys)
values = thisdict.values()
values

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])

dict_values(['Ford', 'Mustang', 1964])

In [132]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

# Nested Dictionaries

In [154]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily["child1"]["age"]=23
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004, 'age': 23}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [148]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child1"]["name"])

Emil

# Python Tuples

Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.

In [149]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [155]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [156]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [158]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [152]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [159]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [160]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [161]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [162]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [163]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')