# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [50]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

# Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Length of List

In [51]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# Remove Specified Item

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# Remove Specified Index

In [58]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

# Clear the List

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Loop Through a List

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

In [30]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# Using a While Loop

In [31]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Looping Using List Comprehension

In [67]:
thislist = ["apple", "banana", "cherry","mango"]
[print(x) for x in thislist]

apple
banana
cherry
mango

[None, None, None, None]

# Sort List Alphanumerically

In [69]:
thislist = [2,3,1,8,2]
thislist.sort()
print(thislist)

[1, 2, 2, 3, 8]

# Sort Descending

In [71]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Customize Sort Function

In [77]:
def myfunc(n):
  return (n - 50)
# [50,0,15,32,-27]  []
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[23, 50, 65, 82, 100]

# Case Insensitive Sort

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [36]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

# Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [83]:
thislist = ["apple", "banana", "cherry"]

thislist = ["apple", "banana", "cherry","Mango"]
mylist = thislist
print(mylist)
print (thislist)

['apple', 'banana', 'cherry', 'Mango']
['apple', 'banana', 'cherry', 'Mango']

Another way to make a copy is to use the built-in method list().

In [86]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
thislist = ["apple", "banana", "cherry","Mango"]
print(mylist)
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Mango']

# Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.
One of the easiest ways are by using the + operator.

In [39]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [88]:
list1 = ["a", "b" , "c"]
list2 = [3, 2, 1]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 3, 2, 1]

# Python Sets

In [100]:
myset = {"apple", "banana", "cherry","apple", "banana", "cherry","mango"}
myset.add("Pineapple")
myset

{'Pineapple', 'apple', 'banana', 'cherry', 'mango'}

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

Set items are unordered, unchangeable, and do not allow duplicate values.
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
Set items are unchangeable, meaning that we cannot change the items after the set has been created.
Once a set is created, you cannot change its items, but you can remove items and add new items.

In [42]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

# The set() Constructor

In [103]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

set2={"apple", "banana", "cherry"}
set2

{'apple', 'cherry', 'banana'}

{'apple', 'banana', 'cherry'}

# Remove Item

In [107]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

thisset1 = {"apple", "banana", "cherry"}

thisset1.discard("cherry")

print(thisset1)

{'apple', 'cherry'}
{'apple', 'banana'}

# Join Two Sets

In [112]:
set1 = {"a", "b" , "c"}
set2 = {4,1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 4, 'b', 'c'}

In [114]:
set1 = {"a", "b" , "c","d","e","f"}
set2 = {1, 2, 3,4,5,6,7}

set1.update(set2)
print(set1)
set2.update(set1)
set2

{1, 2, 3, 4, 'f', 5, 6, 7, 'c', 'd', 'a', 'b', 'e'}

{1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f'}

# Keep ONLY the Duplicates

The intersection_update() method will keep only the items that are present in both sets.

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

# Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

# Python Dictionaries

In [126]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

# Dictionary Items

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [137]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Ordered or Unordered?

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

# Duplicates Not Allowed

In [128]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [140]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict["colors"][2])

blue

# The dict() Constructor

In [141]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [143]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)
y = thisdict.get("model")
print(y)
keys = thisdict.keys()
print(keys)
values = thisdict.values()
values

Mustang
Mustang
dict_keys(['brand', 'model', 'year'])

dict_values(['Ford', 'Mustang', 1964])

In [132]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

# Nested Dictionaries

In [154]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily["child1"]["age"]=23
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004, 'age': 23}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [148]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child1"]["name"])

Emil

# Python Tuples

Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable.
Tuples are written with round brackets.

In [149]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [155]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [156]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [158]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [152]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [159]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [160]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [161]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [162]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [163]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

#  Lambda Expression

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax-->
lambda arguments : expression

In [164]:
x = lambda a : a + 10
print(x(5))

15

In [165]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [166]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

# Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [169]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [170]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Map() and Filter()

The map() function or map and filter in Python (also called as map filter in Python) is a higher-order function. This function accepts another function and a sequence of ‘iterables’ as parameters and provides output after applying the function to each iterable in the sequence. It has the following syntax:

SYNTAX: map(function, iterables)

In [177]:
# Example of using map, filter, and reduce in Python  
data = [1, 2, 3, 4, 5]  
  
# Using the map to apply a function to each element  
# Lambda function returns the square of x  
result1 = list(map(lambda x: x * 2, data))  # Result: [2, 4, 6, 8, 10]  
print(result1)
# Using the filter to filter elements based on a condition  
# Lambda function returns True for an even number  
result2 = list(filter(lambda x: x % 2 == 0, data))  # Result: [2, 4]  
print(result2)

[2, 4, 6, 8, 10]
[2, 4]

In [181]:
def function(a):
    return a*a
x = map(function, (1,2,3,4))  #x is the map object
print(set(x))

{16, 1, 4, 9}

# The filter() function:

The filter() function is used to generate an output list of values that return true when the function is called. It has the following syntax:

SYNTAX: filter (function, iterable)

In [182]:
def func(x):
    if x>=3:
        return x
y = filter(func, (1,2,3,4))  
print(y)
print(list(y))

<filter object at 0x0000020FE70B5280>
[3, 4]

In [183]:
y = filter(lambda x: (x>=3), (1,2,3,4))
print(list(y))

[3, 4]

# File Handling

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists


In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

In [184]:
f = open("demofile.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [185]:
f = open("demofile.txt", "rt")

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

In [ ]:
f = open("D:\\myfiles\welcome.txt", "r")

print(f.read())

# Welcome to this text file!
# This file is located in a folder named "myfiles", on the D drive.
# Good Luck!

Hello! Welcome to demofile.txt

This file is for testing purposes.

Good Luck!

In [ ]:
f = open("demofile.txt", "r")

print(f.read(5))

In [ ]:
f = open("demofile.txt", "r")

print(f.readline())

# Hello! Welcome to demofile.txt

In [ ]:
f = open("demofile.txt", "r")
for x in f:
  print(x)

# Hello! Welcome to demofile.txt
# This file is for testing purposes.
# Good Luck!

In [ ]:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

# Write to an Existing File

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

In [ ]:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Hello! Welcome to demofile2.txt

This file is for testing purposes.

Good Luck!Now the file has more content!

In [ ]:
f = open("demofile3.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the overwriting:
f = open("demofile3.txt", "r")
print(f.read())

Woops! I have deleted the content!

# Create a New File

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exist

"a" - Append - will create a file if the specified file does not exist

"w" - Write - will create a file if the specified file does not exist

In [ ]:
f = open("myfile.txt", "x")

Result: a new empty file is created!

# Delete a File

To delete a file, you must import the OS module, and run its os.remove() function:

In [ ]:
import os
os.remove("demofile.txt")

# Check if File exist:

To avoid getting an error, you might want to check if the file exists before you try to delete it:

In [ ]:
import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

# Delete Folder

To delete an entire folder, use the os.rmdir() method:

In [ ]:
import os
os.rmdir("myfolder")

### Note: You can only remove empty folders.

## Object Oriented Programming

# Python Classes and Objects

Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

Create a Class
To create a class, use the keyword class:

In [4]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

# The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

##### Note: The __init__() function is called automatically every time the class is being used to create a new object.

# The __str__() Function

The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

# Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [1]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

### Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

# The self Parameter

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [9]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name+"And my age is", abc.age)

p1 = Person("John", 36)
p1.myfunc()
# p1.age = 40
# print(p1.age)

Hello my name is JohnAnd my age is 40

# Modify Object Properties

In [3]:
p1.age = 40

# Delete Object Properties

In [ ]:
del p1.age

# The pass Statement

class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [11]:
class Person:
  pass
# having an empty class definition like this, would raise an error without the pass statement